* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  display: grid;
  background: #ffe0ff;
  -webki-font-smoothing: antialiased;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

img {
  max-width: 100%;
  display: block;
}

.menu {
  grid-column: 2 / 4;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #583d48;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  grid-gap: 30px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #ffe0ff;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.1em;
}

.grid-section {
  grid-column: 2 / 4;
  grid-template-columns: 400px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
}

.grid-section p {
  font-family: monospace;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.grid-img {
  height: 465px;
  overflow-y: scroll;
}

.grid-img::-webkit-scrollbar {
  width: 18px;
}

.grid-img::-webkit-scrollbar-thumb {
  background: #583d48;
  border-left: 4px solid #ffe0ff;
  border-right: 4px solid #ffe0ff;
}

.titulo {
  font-size: 4rem;
  font-family: fantasy;
  font-weight: 300;
  margin-top: 60px;
  color: #ffe0ff;
  grid-column: 1 / 4;
  background: #583d48;
}

.titulo::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 52px;
  margin-right: 5px;
  margin-left: 5px;
  background: #fac3fad3;
}

.texto-descricao {
  grid-column: 2 / 4;
}

.texto-descricao section {
  margin-bottom: 3rem;
}

.section-apoio {
  grid-column: 2 / 4;
}

.section-apoio h1 {
  font-family: fantasy;
  font-size: 3rem;
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #583d48;
}

.section-apoio p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.vesiculos h1 {
  font-size: 3rem;
  font-weight: 500;
  font-family: fantasy;
  margin-bottom: 0.9rem;
}

.vesiculos p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.vesiculos {
  grid-column: 2 / 4;
  margin-top: 3rem;
  margin-bottom: 1.9rem;
  color: #583d48;
}

.footer {
  grid-column: 3 / 4;
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding: 20px;
  font-family: monospace;
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffe0ff;
  background: #583d48;
}

/* carrossel */

.section-foto {
  grid-column: 2 / 4;
  font-size: 2rem;
  margin-top: 60px;
  font-weight: 500;
  font-family: fantasy;
  margin-bottom: 0.9rem;
  color: #583d48;
}

.fotos {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  grid-column: 2 / 4;
}

.fotos ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease;
  white-space: nowrap;
}

.carrossel {
  display: flex;
  justify-content: center;
  transition: transform 0.5 ease;
  padding: 0;
  overflow: hidden;
  margin-top: 40px;
}

.carrossel li {
  flex: 0 0 auto;
  list-style: none;

}

.carrossel img {
  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 50vh;
  transition: opacity 0.5 ease;
}

.fotos li {
  flex: 0 0 auto;
  margin-right: 10px;
  text-align: center;
}

.fotos img {
  max-width: 400px;
}

#carousel {
  display: flex;
  transition: transform 0.5s ease;
  margin: 0;
  padding: 0;
}

#carousel {
  flex: 0 0 auto;
  list-style: none;
}

/* mobile */

@media screen and (max-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 20px minmax(280px, calc(100% - 40px)) 20px;
  }
  .menu .grid-section,
  .footer {
    grid-column: 1;
  }
  .menu {
    grid-column: 1 / 4;
  }
  .grid-section {
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
  }
  .grid-img {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
  }
  .grid-img img {
    max-width: 100%;
    height: auto;
    order: 2;
  }
  .grid-img p {
    font-size: 0.875rem;
    text-align: center;
    order: 1;
  }
  .section-apoio p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
  }
  .titulo {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .footer {
    font-size: 1rem;
    grid-column: 1 / 3;
  }
}
@media screen and (max-width: 800px) {
  .grid-section {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 4;
  }
  .grid-img li {
    list-style: none;
  }
  .titulo {
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-top: -10px;
  }
  .titulo,
  .vesiculos,
  .section-apoio h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
  }
  .section-apoio h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
  }
  .vesiculos h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
  }
  .section-apoio p {
    font-size: 0.875rem;
  }
  .titulo-fotos {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
  }
  .carrossel img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .carrossel img {
    max-width: 36vh;
    height: auto;
  }
}

